*{
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 970px;
    background-color: #1b335d;
    padding: 10px 10px 10px 10px;
}

.header {
    border-radius: 10px;
    text-align: left;
    padding: 10px 20px;
    margin: 0px 10px;
    min-height: 50px;
    background-color: #ca3637;
    color: #c2d6ec;
}

h1 {
    line-height: 50px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.navigation {
    border-radius: 10px;
    vertical-align: top;
    padding: 20px;
    margin: 20px 0px 0px 10px;
    width: 180px;
    background-color: #297d8c;
    display: inline-block;
}

.main_content {
    border-radius: 10px;
    padding: 20px;
    width: 670px;
    margin: 20px 0px 20px 10px;
    background-color: #0e1822;
    display: inline-block;
}

body {
    color: #bdd6ec;
}

span {
    color: #7481e2;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul ul {
    list-style-type: circle;
}

a {
    color: #60cfd5;
    cursor: pointer;
    text-decoration: underline;
}

div {
    display: block;
}

.footer {
    border-radius: 10px;
    background-color: #5d6673;
    padding: 10px 10px 10px 10px; 
    margin: 10px 0px 0px 10px;
}


